[submodule "IW5"]
	path = Tutorials/IW5
	url = https://github.com/pluskal/iw5.git
[submodule "Tutorials/angelsix-youtube"]
	path = Tutorials/angelsix-youtube
	url = https://github.com/pluskal/angelsix-youtube.git
[submodule "Lectures/WPF"]
	path = Lectures/WPF
	url = https://github.com/pluskal/CSharpTraining_WPF
