[submodule "IW5"]
	path = Tutorials/IW5
	url = https://github.com/FitIW/5.git
[submodule "Tutorials/angelsix-youtube"]
	path = Tutorials/angelsix-youtube
	url = https://github.com/pluskal/angelsix-youtube.git
